<div class="accounts">
    <app-account [account]="balance"></app-account>
    <app-account *ngFor="let account of accounts" [account]="account"></app-account>
    <div class="add-account-BTN disable-select" (click)="toggle()">+</div>
    <!--Change to a fontawesome icon-->
</div>

<app-modal title="Add Account">
    <form (ngSubmit)="onSubmit()" class="modal-form">
        <section>
            <input type="text" placeholder="Name" name="accountName" [(ngModel)]="accountName">
            <select #self (change)="updateForm(self.value)" name="connection" (ngModel)="connection" class="modal-form-select">
                <option [ngValue]="null" disabled>Connection</option>
                <option *ngFor="let option of options">{{option.name}}</option>
            </select>
        </section>
        <section>
            <input type="number" placeholder="Starting value" name="accountValue" [(ngModel)]="accountValue">
            <select name="accountType" [(ngModel)]="accountType" >
                <option value="Cash">Cash</option>
                <option value="Cards">Cards</option>
                <option value="Investments">Investments</option>
            </select>
            <label for="checkbok">Stats</label>
            <input type="checkbox" name="checkbox" name="accountStats" [(ngModel)]="accountStats">
        </section>
        <button type="submit">Add</button>
    </form>
</app-modal>

