.accounts{
    padding: 20px;
    display: flex;
    gap: 1rem;
    background-color: rgb(232, 232, 232);
    align-items: center;
    justify-content: center;
}

.add-account-BTN{
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px 17px;
    cursor: pointer;
}
